
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

$header-color: #b7c8e2;
$footer-color: #9cabc4;
$page-color: rgb(21, 39, 39);
$text-color: rgb(180, 178, 178);
$padding: 20px;

@mixin textDesign {
    letter-spacing: 0.5px;
    color: $text-color;
    font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
}

@mixin flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.page{
    background-color: $page-color;
    @include textDesign();
    @include flex-container();
}

.head--title {
    background-color: $page-color;
    width: 100%;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.page-movie-filter{
    padding: 10px 0px 10px 0px;
    background-color: $page-color;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}
.button-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 5px 0px 5px 10px;

}

.button-wrapper__radio-display{
    margin-right: 20px;

}

.button-wrapper__text-display{
    width: 200px;
    height: 30px;
    border-radius: 2px;
    margin-right: 20px;
    border: unset;
    background-color:rgb(42, 78, 78);
    @include textDesign();
}
.movie__gridbox{
    height: auto;
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(3, auto);
    padding: 10px;
    background-color: $page-color;
}

.movie__display{
    width: 100%;
    height: auto;
}








